.layoutWrapper {
    .headerWrapper {
        display: block;
    }

    .responsiveHeaderWrapper {
        display: none;
    }

    .childrenWrapper {
        margin-top: 60px;
    }

    @media (max-width: 1100px) {
        .headerWrapper {
            display: none;
        }

        .responsiveHeaderWrapper {
            display: block;
        }

        .childrenWrapper {
            margin-top: 0px;
        }
    }
}
