
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    margin-top: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
}

.javascriptIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typescriptIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reactIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nextjsIcon {
    svg {
        width: 70px;
        height: 70px;
        background-color: yellow;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nodejsIcon {
    svg {
        width: 60px;
        height: 40;
        background-color: white;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.postgresqlIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.microsoftSqlServerIcon {
    svg {
        width: 70px;
        height: 70px;
        background-color: white;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expressJsIcon {
    svg {
        width: 70px;
        height: 70px;
        background-color: white;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nginxIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dockerIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mongodbIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gitIcon {
    svg {
        width: 70px;
        height: 70px;
        path {
            fill: white;
        }
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gitlabIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firebaseIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.githubIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sassIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.styledComponentsIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bootstrapIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.webpackIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    p {
        margin-top: 5px;
    }
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;    
}