



.javascriptIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
}

.typescriptIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
}

.reactIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
}

.nextjsIcon {
    svg {
        width: 70px;
        height: 70px;
        background-color: yellow;
    }
    display: flex;
    align-items: center;
    justify-content: center;
}

.nodejsIcon {
    svg {
        width: 60px;
        height: 40;
        background-color: white;
    }
    display: flex;
    align-items: center;
    justify-content: center;
}

.postgresqlIcon {
    svg {
        width: 70px;
        height: 70px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
}